<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>한양대학교 종강시계 | 개인정보처리방침</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
      }
      li {
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    <h1>한양대학교 종강시계 개인정보처리방침</h1>
    <ol style="width: 600px">
      <li>
        한양대학교 종강시계 개발팀(이하"조직")은 이용자의 개인정보를 수집·이용
        하지 않고 있으며, ‘이용자의 권리 (개인정보 자기결정권)를 적극적으로
        보장’합니다. 조직은 정보통신서비스제공자가 준수하여야 하는 대한민국의
        관계 법령 및 개인정보보호 규정, 가이드라인을 준수하고 있습니다.
        “개인정보처리방침”이란 이용자의 소중한 개인정보를 보호함으로써 이용자가
        안심하고 서비스를 이용할 수 있도록 조직이 준수해야 할 지침을 의미합니다.
        본 개인정보처리방침은 조직이 제공하는 서비스 '한양대학교 종강시계'(이하
        ‘서비스'라 함)에 적용됩니다.
      </li>
      <li>
        한양대학교 종강시계를 이용하면서 생기는 데이터들은 모두 사용자의 로컬
        스토리지에 저장되며, 서버의 데이터베이스에 저장되지 않습니다.
      </li>
      <li>
        단 한양대학교 종강시계 내부의 건의 사항을 통해 들어오는 유저의 이메일과
        정보는 조직 내부에서 사용하는 슬랙 채널에 전송되어 보관됩니다.
      </li>
      <li>
        조직은 매주 건의 사항을 통한 정보 중 해결된 건을 삭제해가면서 사용자의
        개인정보를 최대한 서비스에서 배제합니다.
      </li>
    </ol>
  </body>
</html>
